* {
	background: none;
	color: #dddddd;
    font-family: "Fira";
    font-size: 12px; 
}

#workspaces button * { color: rgb(100, 100, 200); border-radius: 30px; }
#workspaces button.hosting-monitor * { font-weight: bold; color: rgb(200, 200, 200); border-radius: 30px; }
#workspaces button.empty * { color: rgb(50, 50, 50); border-radius: 30px; }
#workspaces button.active * { color: rgb(27, 130, 27); border-radius: 30px; }

window#waybar {
	background: rgba(50, 50, 50, 0.3);
	box-shadow: inset 0 -3px rgba(20, 50, 70, 0.5);
}
